################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/obj/Debug/netcoreapp2.2
/WebApi/obj
/.vs/WebApi/v15
/WebApi/bin/Debug/netcoreapp2.2
/.vs/config
